@charset "utf-8";

/****************** Layout ******************/
html{font-size:16px;}
body{min-width:1280px;min-height:100%;overflow-y:scroll;}
.wrap{width:100%;}
.inner{width:1100px;margin:0 auto;overflow:hidden;}

/****************** Header & GNB ******************/
/* 상단고정-fixed */
.fixed{position:fixed !important;top:0;left:0;}

/* 상단 */
.header{position:absolute;width:100%;z-index:20;background:#fff;border-bottom:1px solid #ddd;}
/* .header:hover{padding-bottom:20px;box-shadow:0 0 10px rgba(0, 0, 0, 0.2);transition: all 0.5s;opacity:1;} */
.header div{display:flex;justify-content:space-between;}
.header h1.logo{width:150px;padding-top:20px;font-size:26px;font-weight:700;}
.gnb{display:flex;z-index:30;}
.gnb .gnbDep1{position:relative;}
.gnb .gnbDep1 > a{width:160px;height:80px;display:flex;align-items:center;justify-content:center;color:#000;font-size:19px;font-weight:bold;}
.gnb .gnbDep1 > a.on{color:skyblue;}
.gnb .gnbDep2{display:none;margin-top:20px;}
.gnb .gnbDep2 li > a{display:block;color:#444;padding:5px 0;font-size:16px;text-align:center;}
.gnb .gnbDep2 li > a:hover,
.gnb .gnbDep2 li > a.on{color:skyblue;text-decoration:underline;}
.gnbBg{position:absolute;top:80px;left:0;width:100%;background:#fff;z-index:0;box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);opacity:0;}
.gnbBg.on{opacity:1;}
.header .util{width:150px;}
.header .util > ul{display:flex;}
.header .util > ul a{display:flex;align-items:center;justify-content:center;background-color:#eee;border-radius:100%;width:50px;height:50px;transition: all 0.8s;}
.header .util > ul li:not(:last-child){margin-right:10px;}

/* 서브 네비게이션 */
.location{position:relative;z-index:10;background:#666;width:100%;}
.lnb{position:relative;margin:0 auto;width:650px;font-size:0;}
.lnb .home{position:relative;display:inline-block;width:70px;line-height:50px;border-right:1px solid #999;color:#fff;font-size:14px}
.lnb .lnbDep1{position:relative;display:inline-block;vertical-align:top;width:180px;}
.lnb .lnbDep1 > a{display:block;color:#fff;font-size:16px;width:100%;line-height:50px;padding:0 20px;border-right:1px solid #999;}
.lnb .lnbDep1 > a.on{color:yellow;font-weight:bold;}
.lnb .lnbDep1 > a:after{display:block;content:'▼';position:absolute;top:0;right:10px;font-size:10px;}

.lnb .lnbDep2{display:none;position:absolute;top:50px;left:0;width:180px;background:#fff;border:1px solid #999;border-top:0;padding:10px 0;}
.lnb .lnbDep2 li > a{display:block;color:#444;padding:4px 20px;font-size:15px;}
.lnb .lnbDep2 li > a:hover,
.lnb .lnbDep2 li > a.on{color:blue;font-weight:bold;text-decoration:underline;}
.lnb .lnbDep2 li .gnbDep2{display:none;} /* 1차 셀렉트 2차 숨김 */

/****************** Content ******************/
.sub_visual{width:100%;height:160px;background:#eee;margin-top:80px;display:flex;align-items:center;justify-content:center;}
.sub_visual p{font-size:30px;}
.content{height:1500px;background:#000;color:#fff;font-size:18px;padding:80px;}

/****************** Footer ******************/
.footer{}


/****************** media ******************/
@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1024px){

}

/* only mobile */
@media all and (max-width:768px) {
    html{font-size:10px;}
	body{min-width:100%;font-size:1.6rem;}
}

@media all and (max-width:375px) {

}

@media all and (max-width:360px) {
    
}

@media all and (max-width:320px) {

}