@charset "utf-8";

/****************** Layout ******************/
html{font-size:16px;}
body{min-width:1280px;min-height:100%;overflow-y:scroll;}
.wrap{width:100%;}
.inner{width:1100px;margin:0 auto;overflow:hidden;}

/****************** Header & GNB ******************/
/* 상단고정-fixed */
.fixed{position:fixed !important;top:0;left:0;}

/* 상단 */
.nav-up{top:-70px !important;}
.header{position:absolute;width:100%;height:80px;z-index:20;background:#fff;transition:top 0.2s ease-in-out;border-bottom:1px solid #eee;}
.header div{display:flex;justify-content:space-between;}
.header h1.logo{width:150px;padding-top:22px;font-size:28px;font-weight:700;}
.gnb{display:flex;z-index:30;}
.gnb .gnbDep1{position:relative;}
.gnb .gnbDep1 > a{width:160px;height:80px;display:flex;align-items:center;justify-content:center;color:#000;font-size:19px;font-weight:bold;}
.gnb .gnbDep1 > a:after{content:'';height:3px;position:absolute;left:0;right:0;top:77px;opacity:1;width:0;background-color:#fff;display:block;margin:0 auto;}
.gnb .gnbDep1 > a:hover:after{width:70%;background-color:#666;transition:opacity 0.4s,width 0.4s;}
.gnb .gnbDep1 > a:hover, .gnb .gnbDep1 > a.on{color:steelblue;}
.gnb .gnbDep1 > a.on:after{width:70%;background-color:#666;}

.gnb .gnbDep2{display:none;margin-top:20px;}
.gnb .gnbDep2 li > a{display:block;color:#444;padding:5px 0;font-size:16px;text-align:center;}
.gnb .gnbDep2 li > a:hover,
.gnb .gnbDep2 li > a.on{color:steelblue;text-decoration:underline;}
.gnbBg{position:absolute;top:80px;left:0;width:100%;background:#fff;z-index:10px;box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);}
.header .util{width:150px;}
.header .util > ul{display:flex;margin-top:15px;}
.header .util > ul a{display:flex;align-items:center;justify-content:center;background-color:#eee;border-radius:100%;width:50px;height:50px;transition: all 0.8s;}
.header .util > ul li:not(:last-child){margin-right:10px;}

/* 서브 네비게이션 */
.location{position:relative;z-index:10;background:#666;width:100%;}
.lnb{position:relative;margin:0 auto;width:650px;font-size:0;}
.lnb .home{position:relative;display:inline-block;width:70px;line-height:50px;border-right:1px solid #999;color:#fff;font-size:14px}
.lnb .lnbDep1{position:relative;display:inline-block;vertical-align:top;width:180px;}
.lnb .lnbDep1 > a{display:block;color:#fff;font-size:16px;width:100%;line-height:50px;padding:0 20px;border-right:1px solid #999;}
.lnb .lnbDep1 > a.on{color:yellow;font-weight:bold;}
.lnb .lnbDep1 > a:after{display:block;content:'▼';position:absolute;top:0;right:10px;font-size:10px;}

.lnb .lnbDep2{display:none;position:absolute;top:50px;left:0;width:180px;background:#fff;border:1px solid #999;border-top:0;padding:10px 0;}
.lnb .lnbDep2 li > a{display:block;color:#444;padding:4px 20px;font-size:15px;}
.lnb .lnbDep2 li > a:hover,
.lnb .lnbDep2 li > a.on{color:steelblue;font-weight:bold;text-decoration:underline;}
.lnb .lnbDep2 li .gnbDep2{display:none;} /* 1차 셀렉트 2차 숨김 */

/****************** Content ******************/
.sub_visual{width:100%;height:160px;background:steelblue;margin-top:80px;display:flex;align-items:center;justify-content:center;}
.sub_visual p{font-size:35px;color:#fff;}
.content{height:1500px;background:#f4f4f4;color:#000;font-size:18px;padding:80px;}

/****************** Footer ******************/
footer{padding:100px;height:100px;display:flex;justify-content:center;align-items:center;}

/****************** Main visual ******************/
.swiper-container {
    width:100%;
    height:100vh;
    min-height:calc(100vh - 80px);
    overflow:hidden;
  }
  
  .swiper-slide {
    position:relative;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .swiper-slide img {
    position:absolute;
    top:0;left:0;
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:0;
    transform: scale(1.1);
    -webkit-transition:transform 5s ease;
    transition:transform 5s ease;
  }
  
  .swiper-slide-active img{
      transform: scale(1); transition-delay: 1s;
  }
  
  /* 텍스트 */
  .swiper-slide .title, .swiper-slide .text {
    position: absolute;
    top:30%;
    left:10%;
    font-weight:bold;
    color: #fff;
    z-index:10;
    opacity: 0;
    transform: translateX(100px);
    -webkit-transition: all 0.7s ease; transition: all 0.7s ease;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 30%);  
  }
  
  .swiper-slide .title{font-size:60px;}
  .swiper-slide .text{font-size:30px;top:45%;}
  
  .swiper-slide-active .title, .swiper-slide-active .text {
    opacity: 1;
    transform: translateX(0);  
  }
  .swiper-slide-active .text{transition-delay: 0.4s;}
  
  /* 유틸박스 */
  .util-box{      
      position:relative;
      width:580px;
      left: 50% !important;   
      transform:translateX(-50%);
      z-index:10;
  }
  
  /* 이전, 다음 버튼 */
  .swiper-button-next, .swiper-button-prev {
    color: #fff !important;
    transition:all .3s ease;
    top:auto !important;
    bottom:80px !important;
    background-size:23px 40px !important;
  }
  .swiper-button-prev {
    margin-left:0;
  }
  
  .swiper-button-next {
    margin-left:0;
    right:0 !important;
  }
  
  .swiper-button-next:after, .swiper-button-prev:after{
      font-size:30px !important;
  }
  
  .swiper-button-next:hover, .swiper-button-prev:hover {
    transform:translateX(0);
    opacity:0.5;
  }
  
  /* 숫자 페이지 */
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
      left:430px !important;
      bottom: 90px !important;
      width:auto !important;
      color:#fff;font-size:18px;
  }
  
  /* play,stop 버튼 */
  .swiper-play-pause {
      display: block;
      position: absolute;
      bottom: 85px;
      left: 500px;
      width: 32px;
      height: 32px;
      font-size:0;
      z-index:50;
      background-repeat: no-repeat;
      background-color: transparent;
      cursor: pointer;
  }
  .pause {
      background-image: url("https://www.poscochemical.com/images/ico/ico_pause.png");
  }
  .play {
      background-image: url("https://www.poscochemical.com/images/ico/ico_play.png");
  }
  
  
  /* 하단 동적스크롤바 */
  .swiper-scrollbar {    
      border-radius: 0 !important;
      background: rgba(999,999,999,0.3) !important;
      left: 60px !important;
      bottom: 100px !important;
      height: 3px !important;
      width: 340px !important;
      z-index:50;
  }
  
  .swiper-scrollbar .swiper-scrollbar-drag {
      border-radius: 0 !important;
      background: rgba(999,999,999,0.8) !important;
  }
  
  .swiper-scrollbar .swiper-scrollbar-drag:after {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 0;
    content: "";
  }
  
  .swiper-scrollbar .swiper-scrollbar-drag.animate:after{
    width: 100%;
    -webkit-transition: width linear;
    transition: width linear;
    -webkit-transition-delay: unset;
            transition-delay: unset;
    -webkit-transition-duration: 5s;
            transition-duration: 5s;
    /* transition-delay: 0.5s; */
  }


/****************** media ******************/
@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1024px){

}

/* only mobile */
@media all and (max-width:768px) {
    html{font-size:10px;}
	body{min-width:100%;font-size:1.6rem;}
}

@media all and (max-width:375px) {

}

@media all and (max-width:360px) {
    
}

@media all and (max-width:320px) {

}